{% load static %}

<!--<!DOCTYPE html>-->
<html>
<head>
	<title> Index </title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<!--<style type="text/css">-->

	<!--body {-->
		<!--font-family:Aria, Veranda, sans-serif;}-->
	<!--h1 {-->
		<!--color: rgb(255,60,150);}-->
<!--</style>-->

</head>


	<h2>	The XXX lab is my lab</h2>

<body>
	<h1>	The XXX lab is my lab</h1>
	<img src=" { % static "labmanager/logo.jpg" %}" alt="logo" title="my lab" />
	<!--<a href="{{ STATIC_URL }}labmanage/images/lab manager_title.jpg" / alt ="fsdfsdf">-->

</body>


</html>


