body {
    font-family:Aria, Veranda, sans-serif;
    body{ background-color: gray;}
}

h1{
    color: rgb(0,0,0);}
h2 {
    color: darkblue}

body {
font-size:80%
font-family: "Courier New", Courier, monospace;
letter-spacing:0.15em;
background-color: #efefef;
}

#page{
maxwidth:1200px;
min-width:720px;
margin:10px auto 10px auto;
padding:20px;
border:4px double #000;
background color: #ffffff;
}

ul{
width:90%   ;
padding:15px;
margin:0px auto 25px auto;
border-top:2px solid #000;
text-align:center;
}

li{
display:inline;
margin: 0px 3px;
}

a{
color:000;
text-transform:uppercase;
text-decoration: none;
padding: 6px 18px 5px 18px;
}

a:hover, a.on{
color:#cc3333;
background-color #ffffff;
}


#category_title{
color:darkblue;
text-transform:uppercase;
text-decoration: none;
padding: 6px 18px 5px 18px;
}

table{
width: 800px;
}

th,td{
padding:20px, 10px, 10px, 10px;}

th{
    text-transform:uppercase;
    letter-spacing: 0.1em;
    font-size:90%;
    border-bottom:2px solid #111111;
    border-top: 3px solid #999;
    text-align: left;}

tr:even {
background-color: #0;}

tr:nth-child(odd) {
 background-color: Gainsboro;}

tr:hover{
background-color: #0;}
.boxh{
/*    background-color: lightgrey;
    border: 3px solid black;*/
    padding: 10px;
    margin: 10px 20 10px auto;
    position: relative ;
    left:  -0px;
}
.headerBox {
    width: 99%;
    text-align: center;
   /* border: 2px solid black;*/

}


.email{
text-transform: lowercase;
font-size:80%;

}

.date{
text-align: right;}

.selectBox {
    width: 99%;
    text-align: center;
    border: 2px solid black;
    font-size:80%;
}

.box{
    float:left;
    margin:10px 10px 0 10px;
    width: 150px;
}

.box-top {
    height:30px;
    background-color:#373737;
}
.box-middle {
    height:200px;
    background-color:#676767;
}
.box-bottom {
    height:10px;
    background-color:#373737;
}

#simpleText {
    text-align: left;
    position: relative;
    left: 20px;
}

#click {
    text-align: left;
    position: relative;
    letter-spacing:0.05em;
    left: 10px;
    background-color:white;
   color: darkblue ;
    border:2px solid darkblue;
}

#formBox {
    width: 30%;
    text-align: left;
    border:2px solid darkblue;
    background-color:lightgray;
    padding: 10px;

   /* border: 2px solid black;*/

}