{% extends "user_list/base.html" %}

{% block title %} Lab users {% endblock %}

{% block content %}
    <h1>My Lab</h1>
    <!--<h2> Active Users: </h2>-->
    {% for user in users %}
        <h5>
            <a href="{{ User.get_absolute_url }}{{user.name}}">{{user.name}} </a>
              PI: {{user.supervisor}} position: {{user.user_rank}} joined on: {{ user.join_date}}
        </h5>
        <!--<p class="date">Published {{ post.publish }} by {{ post.author }}</p>-->
        <!--<p> "user" </p>-->
    {% endfor %}

    {% include "user_list/pagination.html" with page=users %}
{% endblock %}>